html{
	background-color:black;
}

div{
	text-align: center;
}

h1, h3{
	color: gold;
	text-align:center;
}

img{
	width: 200px;
	height 125px;
	text-align: center;
}

p{
	color: #FFA00A;
	text-align:center;
}

.contentDiv{
	width: 200px;
	height: 150px;
}

.Row{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	min-height: 200px;
}

.Column{
	display: table-cell;
}

#contactDiv{
	margin-left:auto;
	margin-right:auto;
	width: 200px;
	height: 150px;
}
