html{
	background-color:black;
}

a{
	text-decoration: none;
}
a:link{
	color: #FFA00A;
}
a:visited{
	color: #FFA00A;
	text-decoration-line: underline !important;
}
a:hover{
	color: #FFFF00;
}

a>div>p{
	text-decoration: none;
}
a:link>div>p{
	color: #FFA00A;
}
a:visited>div>p{
	color: #FFA00A;
	text-decoration-line: underline !important;
}
a:hover>div>p{
	color: #FFFF00;
}

div{
	text-align: center;
}

h1, h3{
	color: gold;
	text-align:center;
}

img{
	width: 200px;
	height: 100px;
	text-align: center;
}

p{
	color: #FFA00A;
	text-align:center;
}

.contentDiv{
	width: 200px;
	height: 150px;
}

.Row{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	min-height: 200px;
}

.Column{
	display: table-cell;
}

#contactDiv{
	margin-left:auto;
	margin-right:auto;
	width: 200px;
	height: 150px;
}
